<div data-nosnippet class="jcore-huomio-banner">
  {% include ['partials/notification-banner-content.twig', '@jcore-huomio/partials/huomio/notification-banner-content.twig'] ignore missing with { toast: toast } only %}
</div>